<!DOCTYPE html>
<html lang="ru" >
<head>
  <meta charset="UTF-8">
  <title>SmartChat</title>
  <link rel="icon" type="img/png" href="/img/logo.png">
    <link rel="stylesheet" href="/css/vendor/reset.min.css?ver=<%=version%>">
    <link rel='stylesheet' href="/css/vendor/font-awesome.min.css?ver=<%=version%>">
    <link rel="stylesheet" href="/css/authorization.css?ver=<%=version%>">
</head>

<body>
	<div id = 'container' class = 'backdrop'>
		<div class="module form-module">
			<div class="form show-form">
		        <h2 class="nomargin">Спасибо за регистрацию, ваш аккаунт активирован</h2>
		        <h2 class="nomargin">Нажмите на кнопку чтобы начать работу со SmartChat-ом</h2>
		        <a class="linkToProfile" href="/profile">Перейти в SmartChat</a>
			</div>
		</div>
	</div>

  <script type="text/javascript" src="js/functions.js?ver=<%=version%>"></script>
  <script type="text/javascript" src="/js/detector.js?ver=<%=version%>"></script>
<script src="js/pages/account/info.js?ver=<%=version%>"></script>
</body>
</html>